* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'main';
  font-weight: 400;
  text-decoration: none;
  transition: .5s;
  scroll-behavior: smooth;
  font-size: 18px;
  outline: none;
  color: black;
  list-style: none;
}

@font-face {
  font-family: 'main';
  src: url(/fonts/Montserrat-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'main';
  src: url(/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'main';
  src: url(/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'main';
  src: url(/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'title';
  src: url(/fonts/Unbounded-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'title';
  src: url(/fonts/Unbounded-Medium.ttf);
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  font-size: 48px;
  font-family: 'title';
}

.subtitle {
  font-size: 36px;
  font-family: 'title';
  width: 50%;
}

.subtitle span,
.title span {
  color: black;
  font-size: 36px;
  background-color: #CEE9FB;
  padding: 5px 20px;
  border-radius: 30px;
  font-family: 'title';
  font-weight: 400;
  white-space: nowrap;
}

.title span {
  font-size: 48px;
}

form input::placeholder,
.label input::placeholder {
  color: #C2C2C2;
  font-size: 16px;
  font-weight: 300;
}

form input,
.label input {
  border-radius: 30px;
  padding: 7px 20px;
  border: 1px solid white;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #72C0F4;
  font-size: 16px;
  font-weight: 500;
}

.mainbtn,
.mainnbtn {
  background-color: #72C0F4;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
  border: none;
  color: white;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

.mainnbtn {
  border: 2px solid #72C0F4;
}

.mainnbtn:hover {
  color: #72C0F4;
  background-color: transparent;
}

.mainbtn:hover>img {
  transform: translate(30%, 0);
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #72C0F4;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: -3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  background-color: #72C0F4;
  ;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

#error1,
#error2 {
  color: red;
  font-size: 12px;
}

.logo:hover {
  transform: scale(1.05);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.subtitle-btn {
  width: fit-content;
  padding: 10px 20px;
  color: #72C0F4;
  border: 2px solid #72C0F4;
  border-radius: 30px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.subtitle-btn:hover {
  background-color: #72C0F4;
  color: white;
}

.mt {
  margin-top: 200px;
}

.mt-50 {
  margin-top: 50px;
}

textarea {
  border: 1px solid white;
  border-radius: 20px;
  outline: none;
  padding: 7px 20px;
  height: 200px;
  resize: none;
}

textarea::placeholder {
  color: #C2C2C2;
  font-weight: 300;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #E4E4E4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CEE9FB;
}

textarea::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.card-row img {
  width: 150px;
}

.card-row .img {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card-row h6 {
  font-family: 'title';
  color: #72C0F4;
  padding-bottom: 10px;
}

.card-row .card {
  width: 25%;
  background-color: #F6F6F6;
  position: relative;
  padding: 60px;
}

.card-row p {
  font-size: 16px;
  font-weight: 500;
}

.card-row .card:nth-child(1) {
  border-radius: 30px 30px 0 30px;
}

.card-row .line .card {
  border-bottom-left-radius: 0;
}

.card-row .card:nth-child(3) {
  border-radius: 30px 30px 0 0;
}

.card-row .card:nth-child(1)::before {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: -50px;
}

.card-row .card:nth-child(1)::after {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  right: -1px;
  transform: rotate(180deg);
}

.card-row .card:nth-child(3)::before {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: -50px;
  transform: rotate(270deg);
}

.card-row .card:nth-child(3)::after {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  left: 0;
  transform: rotate(90deg);
}

.corner {
  border-radius: 0 0 30px 30px;
}

.corner2 {
  border-radius: 0 30px 30px 30px;
}

.corner2::before {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 0;
}

.corner2::after {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: -49px;
  transform: rotate(180deg);
}

.corner::before {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  right: 0;
  rotate: 270deg;
}

.corner::after {
  content: '';
  background: url(/corner/r4.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: -49px;
  transform: rotate(90deg);
}

.line,
.line2 {
  display: flex;
  width: 50%;
}

.line .card,
.line2 .card,
.line .img,
.line2 .img {
  width: 50%;
}

.title-row .title {
  font-size: 36px;
  position: relative;
  padding-left: 60px;
}

.title-row .title::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 40px;
  border-radius: 30px;
  background-color: #72C0F4;
  left: 0;
  top: 30%;
}

.select-container {
  position: relative;
}

.select-container span {
  font-size: 16px;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: 500;
}

.custom-select {
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.arrow-down {
  width: 12px;
  height: 12px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  margin-left: 10px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.select-icon {
  transition: transform 0.3s ease;
}

.select-icon.open {
  transform: rotate(180deg);
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-item:hover {
  color: #72C0F4;
}

form .errortext {
  font-size: 14px;
  color: red;
  margin: 0;
}

form .error {
  border: 1px solid red;
}

.header-mobile {
  background-color: #F6F6F6;
  border-radius: 60px;
  margin: 60px 0;
  padding: 15px 25px;
  display: none;
  position: relative;
}

.confirm .modal-cont {
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.confirm .row {
  display: flex;
  justify-content: space-between;
}

.confirm h6 {
  font-weight: 500;
  text-align: center;
  margin-top: 60px;
}

.cancelbtn {
  text-align: center;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 30px;
  background-color: #C2C2C2;
  color: white;
  border: 1px solid #C2C2C2;
  cursor: pointer;
}

.cancelbtn:hover {
  background: transparent;
  color: #C2C2C2;
}

.deletebtn {
  cursor: pointer;
  color: red;
  background-color: #FFDBDB;
  border: 1px solid #FFDBDB;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 30px;
}

.deletebtn:hover {
  background-color: transparent;
  border: 1px solid red;
}

.menu-content .link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 24px;
  color: #818181;
  cursor: pointer;
}

.message p {
  font-size: 14px;
  font-weight: 500;
}

.success {
  color: #08bd0e;
}

.err {
  color: red;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
}

.custom-date-input,
.custom-time-input {
  position: relative;
}

.custom-date-input input,
.custom-time-input input {
  width: 100%;
}

.custom-date-input::after {
  content: url('/icons/calendar.svg');
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.custom-time-input::after {
  content: url('/icons/timeadd.svg');
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.price-input {
  position: relative;
}

.price-input input {
  width: 100%;
}

.price-input p {
  position: absolute;
  color: #72C0F4;
  font-weight: 500;
  right: 20px;
  bottom: 10px;

}


.Toastify__toast--success .Toastify__progress-bar--animated,
.Toastify__toast--success .Toastify__progress-bar-theme,
.Toastify__progress-bar--success,
.Toastify__toast--success .Toastify__progress-bar::before,
.Toastify__toast--success .Toastify__progress-bar::after {
  background: #ffffff !important;
  background-color: #ffffff !important;
  background-image: none !important;
  box-shadow: none !important;
  filter: none !important;
  opacity: 1 !important;
}


@media screen and (max-width: 1250px) {
  .container {
    padding: 0 30px;
  }

  .subtitle {
    width: 70%;
  }

  header {
    gap: 15px;
  }

  .sign,
  .btn {
    text-align: center;
  }

  .slide-content .img {
    right: 150px;
  }

  .card-row h6 {
    font-size: 16px;
  }

  .subtitle-btn {
    white-space: nowrap;
  }

  footer .label a {
    font-size: 16px
  }

  .banner-content .title {
    font-size: 48px;
  }

  .card-row .card {
    padding: 60px 30px;
  }

  .title-job .img:last-of-type {
    right: 0px;
    top: 20px;
  }

  .content-row .btn {
    bottom: -50px;
    left: 0;
  }

  .title-job p {
    width: 40%;
  }

  .profile-row {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .profile {
    width: 100%;
  }

  .select-item:not(:last-child) .img::after {
    width: 625%;
  }

  .review-block-back {
    width: 100%;
    padding-top: 42%;
  }

  @keyframes revmsg2 {
    0% {
      top: 25%;
      right: 3%;
    }

    50% {
      top: 27%;
      right: 1%;
    }

    100% {
      top: 25%;
      right: 3%;
    }
  }
}

@media screen and (max-width: 1200px) {

  @keyframes revmsg2 {
    0% {
      top: 25%;
      right: 0%;
    }

    50% {
      top: 27%;
      right: -2%;
    }

    100% {
      top: 25%;
      right: 0%;
    }
  }
}

@media screen and (max-width: 1090px) {
  .banner-img .stroke {
    font-size: 14px;
    white-space: nowrap;
  }

  .content-form .subtitle {
    text-align: center;
    margin: 0 auto;
  }

  footer .column p {
    font-size: 16px;
  }

  footer .contacts {
    gap: 40px;
  }

  .select-item:not(:last-child) .img::after {
    width: 550%;
  }

  .admin-row {
    flex-direction: column;
    align-items: center;
  }

  .payment {
    width: 100%;
  }

  @keyframes revmsg2 {
    0% {
      top: 25%;
      right: -3%;
    }

    50% {
      top: 27%;
      right: -5%;
    }

    100% {
      top: 25%;
      right: -3%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .slide .subtitle {
    font-size: 28px;
  }

  .slide p {
    font-size: 16px;
  }

  .slide .img {
    width: 300px;
  }

  .slide-content {
    height: 335px;
  }

  .banner-btn {
    width: 100%;
    padding-right: 0;
    border-top-right-radius: 0;
  }

  .banner-btn::after {
    right: 0;
    top: -29px;
    rotate: 270deg;
  }

  .banner-img .stroke {
    font-size: 10px;
    white-space: nowrap;
  }

  .banner-img .stroke:nth-child(4) {
    left: 20px;
    right: auto;
  }

  footer .column p {
    font-size: 14px;
  }

  footer .contacts .label a {
    font-size: 14px;
  }

  .title-job p {
    width: 50%;
  }

  .select-item:not(:last-child) .img::after {
    width: 490%;
  }

  @keyframes revmsg1 {
    0% {
      top: 10%;
      left: 29%;
    }

    50% {
      top: 12%;
      left: 27%;
    }

    100% {
      top: 10%;
      left: 29%;
    }
  }

}

@media screen and (max-width: 1025px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .header-mobile img {
    width: 30px;
  }

  .header-mobile .logo img {
    width: 100px;
  }

  .fltr .modal-cont {
    border-radius: 0;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }

  .filter-row {
    border-radius: 50px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 30px 60px;
  }

  .about-row {
    gap: 50px;
  }

  .sticky {
    width: 50%;
  }

  .sticky .row span {
    white-space: nowrap;
  }

  .edit .modal-cont {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }

  @keyframes revmsg2 {
    0% {
      top: 12%;
      right: 2%;
    }

    50% {
      top: 14%;
      right: 0%;
    }

    100% {
      top: 12%;
      right: 2%;
    }
  }

  .home-review-content {
    width: 100%;
  }

  .review-block .btns {
    bottom: -130px;
  }

  .review-block {
    margin-bottom: 230px;
  }
}

@media screen and (max-width: 900px) {
  .banner {
    flex-direction: column;
  }

  .banner-img .stroke {
    font-size: 20px;
    white-space: nowrap;
  }

  .banner-img .stroke:nth-child(4) {
    left: 60px;
  }

  .banner-btn {
    width: auto;
    padding-right: 30px;
    border-top-right-radius: 30px;
  }

  .banner-btn::after {
    right: -30px;
    top: 34px;
    rotate: 0deg;
  }

  .banner-content {
    gap: 40px;
  }

  footer .row,
  .footer,
  .faq {
    flex-direction: column;
    gap: 30px;
  }

  .footer p {
    order: 3;
  }

  footer .contacts .label a {
    font-size: 20px;
  }

  footer .column {
    width: 100%;
  }

  footer .column p {
    font-size: 20px;
  }

  .banner-content .title {
    font-size: 54px;
  }

  .banner .card {
    width: 100%;
  }

  .banner-img {
    position: absolute;
    top: 225px;
    width: 100%;
  }

  .banner .row {
    margin-top: 440px;
  }

  .banner .title,
  .banner .title span {
    font-size: 64px;
  }

  .banner-content p {
    font-size: 24px;
  }

  .card-row .card,
  .card-row .img {
    width: 50%;
  }

  .card-row .card {
    padding: 60px;
  }

  .card-row .line,
  .card-row .line2 {
    width: 100%;
  }

  .card-row .line .card {
    order: 1;
    border-top-left-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
  }

  .card-row .line .card::after {
    left: -50px;
    bottom: 0;
    rotate: 90deg;
  }


  .card-row .line .card::before {
    left: 0;
    bottom: -50px;
    rotate: 90deg;
  }

  .card-row .line2 .img {
    order: 2;
  }

  .card-row .line2 .card {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0;
  }

  .w {
    text-align: left;
  }

  .dn {
    display: none;
  }

  .content-row {
    flex-direction: column;
    gap: 100px;
  }

  .content-row .subtitle {
    width: 100%;
  }

  .content-row .subtitle .btn {
    width: auto;
    white-space: nowrap;
    width: 50%;
  }

  .select-item:not(:last-child) .img::after {
    width: 425%;
  }

  .session-link {
    padding: 20px 50px;
  }
}


@media screen and (max-width: 850px) {

  .next img {
    width: 40px;
  }

  .prev img {
    width: 15px;
  }

  .slide-content .img {
    right: 120px;
  }

  .slide-content .subtitle {
    font-size: 24px;
    width: 50%;
  }

  .sign-row {
    flex-direction: column;
  }

  .left-block,
  .right-block {
    width: 100%;
  }

  .left-block {
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
  }

  .right-block {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
  }

  .left-block::after {
    bottom: -50px;
    right: 0;
    rotate: 180deg;
  }

  .left-block::before {
    left: 0;
    rotate: 180deg;
    top: auto;
    bottom: 0;
  }

  .subtitle,
  .subtitle span {
    font-size: 32px;
  }

  .reverse {
    text-align: left;
  }

  .title-row {
    gap: 30px;
    flex-direction: column;
    align-items: start;
    margin-bottom: 15px;
  }

  .content .title-row p {
    width: 100%;
  }

  .title-row p {
    text-align: left;
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }

  .order .subtitle-btn,
  .order p {
    order: 1;
  }

  .title-job .text,
  .title-job .text span {
    font-size: 40px;
  }

  .title-job .btn {
    bottom: -50px;
    left: 0;
  }

  .title-job .text br {
    display: none;
  }

  .title-job .img {
    display: none;
  }

  .session-link {
    padding: 20px 30px;
  }

  .title-job {
    align-items: flex-start;
  }

  .title-job p {
    text-align: left;
    width: 70%;
  }

  .content-row .subtitle .btn,
  .text .btn {
    width: 55%;
  }

  .select-item:not(:last-child) .img::after {
    width: 385%;
  }

  .profile-content {
    flex-direction: row;
  }

  .profile {
    width: 100%;
  }

  .user-btns .actions {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .user-btns {
    flex-direction: column;
    gap: 15px;
  }

  .update,
  .delete {
    justify-content: center;
  }

  .user-btns .subtitle-btn {
    width: 100%;
    text-align: center;
  }

  .one-user {
    flex-direction: column;
    align-items: center;
  }

  .user-list .title-list {
    display: none;
  }

  .user-list .user {
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin-top: 10px;
  }

  .user-list .user p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 16px;
  }

  .user-list .user p span {
    color: #72C0F4;
    font-weight: 500;
    font-size: 16px;
    padding-right: 20px;
    display: block;
  }

  .user-list .user .date1 {
    white-space: wrap;
  }

  .title-add {
    flex-direction: column;
    gap: 30px;
  }

  .review-block {
    margin-top: 200px;
  }

  .vacancy {
    flex-direction: column;
  }

  .vacancy-content {
    width: 100%;
  }

  .w50 {
    width: 100%;
  }

  .title-content {
    width: 100%;
  }

  @keyframes revmsg1 {
    0% {
      top: 5%;
      left: 29%;
    }

    50% {
      top: 7%;
      left: 27%;
    }

    100% {
      top: 5%;
      left: 29%;
    }
  }

  @keyframes revmsg2 {
    0% {
      top: 6%;
      right: 0%;
    }

    50% {
      top: 8%;
      right: 2%;
    }

    100% {
      top: 6%;
      right: 0%;
    }
  }
}

@media screen and (max-width: 750px) {
  .slide-content {
    margin-top: 0;
    align-items: normal;
    height: 550px;
  }

  .slide-text {
    width: 100%;
  }

  .slide-content p {
    width: 100%;
  }

  .slide-content .subtitle {
    width: 100%;
  }

  .slide .img {
    left: 30px;
    right: auto;
    width: 250px;
  }

  .select-item:not(:last-child) .img::after {
    width: 325%;
  }

  .session-link {
    flex-direction: column;
    gap: 0;
    align-items: start;
  }

  @keyframes revmsg1 {
    0% {
      top: 5%;
      left: 15%;
    }

    50% {
      top: 7%;
      left: 17%;
    }

    100% {
      top: 5%;
      left: 15%;
    }
  }

  .review-block-back {
    padding-top: 300px;
  }
}

@media screen and (max-width: 720px) {

  .banner .title,
  .banner .title span {
    font-size: 48px;
  }

  .banner-content p {
    font-size: 20px;
  }

  .banner-img {
    top: 185px;
  }

  .fltr {
    gap: 20px;
  }

  .modal-cont .title {
    font-size: 24px;
  }

  .modal-cont .title::before {
    top: 20%;
  }

  .about-row {
    flex-direction: column;
    align-items: center;
  }

  .sticky {
    width: 100%;
    position: static;
    height: auto;
  }

  .sticky .img {
    height: 300px;
  }

  .content-row .subtitle .btn,
  .text .btn {
    width: 70%;
  }

  .select-item:not(:last-child) .img::after {
    width: 305%;
  }

  .payment-success p {
    width: 70%;
  }


  .modal-cont .contacts a {
    font-size: 16px;
  }


  .modal-cont .contacts {
    gap: 0px;
  }

  .review_title {
    flex-direction: column;
    gap: 20px;
  }

  .rating_content {
    align-items: start;
  }
}

@media screen and (max-width: 640px) {

  footer .column p,
  footer .contacts .label a {
    font-size: 16px;
  }

  .select-item:not(:last-child) .img::after {
    width: 250%;
  }

  .profile-content {
    flex-direction: column;
  }

  .session-link .count {
    font-size: 24px;
  }

  .session-link {
    padding: 20px;
  }
}

@media screen and (max-width: 593px) {
  .banner-img {
    top: 180px;
  }

  .card-row .card {
    padding: 30px;
  }

  .card-row img {
    width: 100px;
  }

  .card-row .card h6,
  .card-row .card p {
    font-size: 14px;
  }

  .title-admin {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .slide .img {
    width: 200px;
  }

  .banner-content .row {
    flex-wrap: wrap;
  }

  .banner-content .row .card {
    align-items: center;
    width: 50%;
  }

  .banner-img .stroke {
    font-size: 16px;
  }

  .banner-img {
    top: 190px;
  }

  .select-box {
    width: 100%;
  }

  .fltr {
    flex-direction: column;

  }

  .filter-row {
    padding: 30px;
  }

  .content-row .subtitle .btn,
  .text .btn {
    width: 80%;
  }

  .select-item:not(:last-child) .img::after {
    width: 185%;
  }

  .confirm .modal-cont {
    margin: 0 50px;
  }

  .psycho {
    flex-direction: column;
  }

  .psycho-info h5 {
    text-align: center;
  }

  .psycho-info {
    align-items: center;
  }

  .payment-success p {
    width: 100%;
  }

  .modal-cont .contacts {
    flex-direction: column;
    gap: 10px;
  }

  .menu-content .link {
    font-size: 18px;
  }

  .session-link {
    font-size: 10px;
  }

  @keyframes revmsg2 {
    0% {
      top: 20%;
      right: 0%;
    }

    50% {
      top: 22%;
      right: 2%;
    }

    100% {
      top: 20%;
      right: 0%;
    }
  }

  .review-block-back {
    padding-top: 430px;
  }

  @keyframes revmsg3 {
    0% {
      top: -13%;
      left: 30%;
    }

    50% {
      top: -14%;
      left: 33%;
    }

    100% {
      top: -13%;
      left: 30%;
    }
  }

  .review-block-back {
    background: none;
  }

  .home-review-content .review-text {
    width: 100%;
  }

  @keyframes revmsg1 {
    0% {
        top: 0%;
        right: 2%;
    }

    50% {
        top: 2%;
        right: 0%;
    }

    100% {
        top: 0%;
        right: 2%;
    }
}
}

@media screen and (max-width: 533px) {
  .banner-img {
    top: 250px;
  }

  .select-item .select-title p {
    font-size: 10px;
  }

  .edit h3 {
    font-size: 20px;
  }

  .user-list .user p,
  .user-list .user p span {
    font-size: 12px;
  }
}

@media screen and (max-width: 504px) {
  .slide-content {
    height: 500px;
    padding: 30px;
  }

  .slide .img {
    left: 10px;
  }

  .banner-content p {
    font-size: 16px;
  }

  footer .contacts {
    flex-direction: column;
    gap: 30px;
  }

  footer .contacts .column {
    gap: 30px;
  }

  .contacts .column .label a,
  .column p {
    font-size: 18px;
  }

  .title-job {
    align-items: center;
  }

  .title-job p,
  .title-job .text,
  .content-row .subtitle {
    text-align: center;
  }

  .title-job p {
    font-size: 16px;
  }

  .title-job .text,
  .title-job .text span {
    font-size: 28px;
  }

  .bread {
    justify-content: center;
  }

  .breadlink {
    font-size: 16px;
  }

  .content-row .subtitle .btn,
  .text .btn {
    width: 100%;
    justify-content: center;
  }

  .rating_content .psychologist {
    flex-direction: column;
  }

  .session-nav {
    flex-direction: column;
    gap: 20px;
    margin: 0;
    margin-bottom: 20px;
  }

  .session-link {
    border-radius: 30px;
    padding: 20px;
    font-size: 16px;
  }

  .session-link .count {
    font-size: 32px
  }

  .session-nav .active::before {
    display: none;
  }

  .session-nav .active::after {
    display: none;
  }
}

@media screen and (max-width: 450px) {

  .header-mobile {
    padding: 10px 20px;
  }

  .header-mobile img {
    width: 25px;
  }

  .header-mobile .logo img {
    width: 80px;
  }

  .content-form .subtitle {
    font-size: 28px;
  }

  .content-form {
    margin: 0;
  }

  .content-form .mainbtn {
    font-size: 16px;
  }

  form input::placeholder {
    font-size: 14px;
  }

  .footer nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .banner-img .stroke {
    font-size: 12px;
  }

  .banner-btn {
    width: 100%;
    border-top-right-radius: 0;
    padding-right: 0;
  }

  .banner-btn::after {
    right: 0px;
    top: -30px;
    rotate: 270deg;
  }

  .subtitle,
  .subtitle span {
    font-size: 24px;
  }

  .content-row .subtitle .btn img,
  .title-job .btn img {
    width: 20px;
  }

  .content-row .subtitle .btn,
  .title-job .btn {
    font-size: 16px;
  }

  .header-mobile #search form {
    height: auto;
  }

  .select-item:not(:last-child) .img::after {
    width: 150%;
  }

  .menu {
    width: 100%;
    padding: 30px 50px 100px 50px
  }

  .admin {
    padding: 30px;
  }

  .payment-success img {
    width: 30%;
  }

  .search-results p {
    font-size: 14px;
  }

  .custom-select span {
    font-size: 14px;
  }

  .about-row .row {
    flex-direction: column;
    align-items: start;
  }

}

@media screen and (max-width: 391px) {
  .custom-select span {
    width: 200px;
    overflow: hidden;
  }

}

@media screen and (max-width: 456px) {

  .banner .title,
  .banner .title span {
    font-size: 48px;
  }

  .banner-img {
    top: 235px;
  }

  .card-row .card {
    padding: 30px 15px;
  }

  .card-row .card h6,
  .card-row .card p {
    font-size: 13px;
  }

  .edit h3 {
    width: 60%;
  }
}

@media screen and (max-width: 412px) {
  .slide-content {
    height: 460px;
  }

  .slide .img {
    width: 160px;
  }

  .banner .title,
  .banner .title span {
    font-size: 40px;
  }

  .banner .title {
    text-align: center;
  }

  .banner-content p {
    text-align: center;
  }

  .banner-img {
    top: 200px;
  }

  .title-row {
    align-items: center;
  }

  .title-row .title {
    font-size: 32px;
  }

  .title-row p {
    font-size: 16px;
    text-align: center;
  }

  .title-row .subtitle {
    text-align: center;
  }

  .select-item:not(:last-child) .img::after {
    width: 100%;
  }

  .search-results p {
    font-size: 12px;
  }

  .section-title {
    font-size: 14px;
  }

  .banner-content .row {
    flex-direction: column;
  }

  .banner-content .row .card {
    width: 100%;
  }

  .menu-link {
    font-size: 15px;
  }

  footer .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  footer .row .column {
    align-items: center;
  }

  footer .row .column a,   footer .row .column p, 
  .content .title-row p {
    text-align: center;
  }

  footer .row .column .label {
    align-items: center;
  }

  footer .row .column .subtitle {
    text-align: center;
  }

}